body{
  text-align: center;
  margin: 0;
  font-family: 'Gelasio', serif
  color: #40514E;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: auto 0;
}
h2{
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 0;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  font-size: 18px;
  line-height: 2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  border-width: 9px;
  color: #EAF6F6;
  margin: 50px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.intro{
  width: 50%;
  margin: auto;
}
.manish{
  border-radius: 75%;
  margin: 70px auto;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.bottom-container{
  background-color: #bbded6;
  padding: 40px 0 10px;
}
.skill-row{
  width: 50% ;
  margin: 100px auto;
  text-align: left;

}
.web-dev{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.landing{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.top-cloud{
  position: absolute;
  top: 40px;
  right: 200px;
}
.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 150px;
}
.contact-me{
  margin: 50px auto;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.credits{
  color: #EAF6F6;
  font-size: 1rem;
  padding: 10px 0;
  font-weight: bold;
}
.btn{
  text-decoration: none;
 display: inline-block;
 border: none;
 color: #ffffff;
 border-radius: 8px 8px 8px 8px;
 -webkit-border-radius: 8px 8px 8px 8px;
 -moz-border-radius: 8px 8px 8px 8px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 18px;
 padding: 6px 14px;
 box-shadow: inset 0px 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0px 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0px 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
 background-image: linear-gradient(to bottom, #11999E, #66BFBF);
 background-color: #66BFBF;
}
.btn:hover{
 border: none;
 color: #ffffff;
 box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
 -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
 -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
 background-color: #bbe1fa;
 background-image: linear-gradient(to bottom, #bbded6, #8ac6d1);
}
